/**
 * @description 该 css 旨在修改富文本编辑器内的样式
 */
/* img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 767px) {
  img {
    display: block;
    width: 40% !important;
  }
}
@media only screen and (min-width: 1800px) {
  img {
    display: block;
    width: 25% !important;
  }
} */
